@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Space+Mono&display=swap');

* {
    --steel-teal: #618F9Bff;
    --goldenrod: #DA9E07ff;
    --champagne: #F8E8D1ff;
    --fawn: #DEAF7Bff;
    --persian-plum: rgb(108, 34, 27);
    background-color: var(--champagne);
    box-sizing: border-box;
}

nav {
    text-align: center;
    padding-bottom: 0px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
    text-transform: lowercase;
    padding-right: 40px;
    font-style: italic;
}

nav li a {
    color:#000;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(132, 132, 132);
}

nav li a:active {
    color:rgb(108, 34, 27);
}


