@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Space+Mono&display=swap');

* {
    --steel-teal: #618F9Bff;
    --goldenrod: #DA9E07ff;
    --champagne: #F8E8D1ff;
    --fawn: #DEAF7Bff;
    --persian-plum: #6C221Cff;
    background-color: var(--champagne);
}

body {
}

.title {
    margin: 0px;
    padding: 0px;
    
}
header {
    background-image: url("makerspacestock.jpg");
    height:500px;
    background-position: center;
    background-size: cover;
    width: 100%;

}

header h1 {
    color: var(--persian-plum);
    font-family: 'Mukta';
    font-size:3.0em;
    font-weight: 1500;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    line-height: 2em;
    text-align: right;
    background-color:rgb(255, 230, 196, 0.7);
    padding:20px;
    width: 28%;
    position: relative;
    top: 30%;
    left: 60%;
}





p {
    
}

