@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Space+Mono&display=swap');

* {
    --steel-teal: #618F9Bff;
    --goldenrod: #DA9E07ff;
    --champagne: #F8E8D1ff;
    --fawn: #DEAF7Bff;
    --persian-plum: rgb(108, 34, 27);
    background-color: var(--champagne);
    box-sizing: border-box;
}

body {
}

nav {
    text-align: center;
    padding-bottom: 0px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
    text-transform: lowercase;
    text-align: left;
    padding-right: 40px;
    font-style: italic;
}

header {
    border: 5px solid var(--goldenrod);
    background-image: url("makerspacestock.jpg");
    height:600px;
    background-position: center;
    width: 100%;
    border-radius: 5%;

}

header h1 {
    color: var(--persian-plum);
    font-family: 'Mukta';
    font-size:3.0em;
    font-weight: 3000;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    line-height: 2em;
    text-align: right;
    background-color:rgb(255, 230, 196, 0.7);
    padding:20px;
    width: 28%;
    position: relative;
    top: 30%;
    left: 50%;
    text-shadow: 4px 6px #000;
    text-shadow: 3px 4px var(--goldenrod);
}





